@font-face{
  font-family:"Comfortaa-Bold" ;
  src: url("/styles/fonts/Comfortaa-Bold.ttf")format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face{
  font-family:"Comfortaa-Light" ;
  src: url("/styles/fonts/Comfortaa-Light.ttf")format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face{
  font-family:"Comfortaa-Regular" ;
  src: url("/styles/fonts/Comfortaa-Regular.ttf")format("truetype");
  font-style: normal;
  font-weight: normal;
}  @font-face{
  font-family:"Comfortaa-Medium" ;
  src: url("/styles/fonts/Comfortaa-Medium.ttf")format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face{
  font-family:"Comfortaa-SemiBold" ;
  src: url("/styles/fonts/Comfortaa-SemiBold.ttf")format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face{
  font-family:"PressStart2R-Regular" ;
  src: url("/styles/fonts/PressStart2P-Regular.ttf")format("truetype");
  font-style: normal;
  font-weight: normal;
}

p{
  font-family: "Comfortaa-Regular";
}
h3{
  font-family: "Comfortaa-Medium";
}
h4{
  font-family: "Comfortaa-SemiBold";
}
h1{
  font-family: "Comfortaa-Bold";
}
a{
  font-family: "Comfortaa-Regular";
}
.btn{
  font-family: "Comfortaa-Regular";
}
body{
  overflow-x: hidden;
  overflow-y: hidden;
}

option{
  font-family: "Comfortaa-Regular" ;
}

.lang-internet-label{
  text-wrap: wrap;
}

footer{
  position: sticky ;
  
  color: gray;
  background-color: rgb(61, 24, 24);
  
}
li{
  float: left;
  list-style-type: none;
}

.theme_label{
  text-decoration: none;
  color: currentColor;
}
.plane-svg{
 position: relative;
 rotate: 90deg;
 left: 0;
 animation: moveRight 10s infinite;
 margin-left: 30px;
}

.explain-text{
  
  padding-top: 30px;
    position: relative;
    
}
navbar{
  position: sticky;
}

.header-company-div
{
  display: flex;
}
.advertisment{
  padding-left: 20%;
  padding-right: 20%;
  
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.header-company{
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
}

.mainContainer{
 padding-bottom: 10px;
  float: right;
  right: 0;
  border-radius: 30px 0 0 0;
  background-image: url(/styles/image/screenshots/map.png); 
  height: 86vh;
   
}
.support-div{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  text-align: center;
}
.support-div-os{
  margin-left: auto;
  margin-right: auto; 
}
.support-div-device{
 margin-left: auto;
 margin-right: auto;
}
.subMainContainer{
  overflow-y: scroll;
  height: inherit;
    border-radius: 30px 0 0 0;
    background-color: #2b3035;
}
.sidebar-sticky{
  padding-left: 20%;
}
  .introduction-container{
    border-radius: inherit;
    z-index: 0;
    background-color: #0d6efd;
    height: 150px;
  }
  .drone-svg {
    margin-right: 30px;
    float: right;
    position: relative;
    animation: moveLeft 10s infinite;
  }
  
  .carousel-item{
    border-radius: inherit;
  }
  .carousel-inner{
    border-radius: inherit;
    padding-bottom: 2%;
  }
  .carousel-container{
    border-radius: 30px;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    
     
  }
  @keyframes moveRight {
    from { transform: translateY(100%); }
    to { transform: translateY(-2500%); }
  }
  @keyframes moveLeft {
    from { transform: translateX(100%); }
    to { transform: translateX(-2500%); }
  }
.text-justify{
  text-align: justify;
}
  .drone-control-div{
    display: flex;
    text-align: center;
  }
  .system-requirements-list{
    margin-left: auto;
    margin-right: auto;
    display: block;
    list-style: armenian;
  }

.nav-link{
  border-radius: 10px;
	margin-top: 10px;
}
.nav-link:hover {

  border-left-style: solid ;
  border-left-color: #0d6efd;
  border-left-width: 3px;
  background-color: gray;
  opacity: 0,7;
}
td{
  padding-left: 3px;
  padding-right: 3px;
}
  

  .headerSide{
    position: sticky;
    padding-left: 45px;
    z-index: 1;
    width: 5%;
   
  }
  .nav-img-side{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    height: 40px;
    fill: white;
  }
  /* .setup-div-label-div{
   
  } */
  @media screen and (max-width: 576px) {

    .headerSide{
      margin-left: 0;
      padding-left: 10px;
      width: 100vw;
      display: inline;
    }
    .header-company{
      margin-left: 0;

    }
    li{
      list-style-type: none;
    }
  }
 

  